<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h4>Your otp code</h4>
      <p>
        Hello, Here is your one-time password (OTP) code: <%= data %> Please use
        this code to complete your verification process. Thank you for using our
        service!
      </p>
    </div>
  </body>
</html>
